.TodoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TasksList {
    width: 30vw;
}

li {
    position: relative;
    background-color: lightblue;
    list-style: none;
    margin-top: 5px;
}

.noDisplay{
    display: none;
}

.display{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.Task__close-button {
    display: none;
}

.TodoList__task:hover .Task__close-button{
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    position: absolute;
}